{% extends 'base/base.html' %}
{% load static %}

{% block content %}

<div class="col-12  my-5">
    <h2 class="text-dark Roboto my-5">
        Пароль сброшен
    </h2>

    <div class="container">
        <div class="row mt-5">
            <div class="shadow col-lg-6 m-auto p-5 text-dark-emphasis bg-dark-subtle  rounded-4">
                <p>Ваш пароль был успешно сброшен. Теперь вы можете войти с новым паролем.</p>
                <a href="{% url 'login' %}" class="btn btn-primary">Войти</a>

            </div>
        </div>
    </div>
</div>

{% endblock content %}
