{% extends 'base/base.html' %}
{% load static %}

{% block content %}

<div class="col-12  my-5">
    <h2 class="text-dark Roboto my-5">
        Установите новый пароль
    </h2>

    <div class="container">
        <div class="row mt-5">
            <div class="shadow col-lg-6 m-auto p-5 text-dark-emphasis bg-dark-subtle  rounded-4">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Сбросить пароль</button>
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock content %}
